*, *::before, *::after {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: "Monda", sans-serif;
	line-height: 1.5;
	margin: 0;
}
img, svg {
	max-width: 100%;
	vertical-align: bottom;
}
h1, h2 {
	font-family: "Bree Serif", serif;
}
h1 {
	font-size: 5rem;
	line-height: .9;
	color: #fff;
	background: #483a40 url(../img/cab.jpg) center / cover;
	text-align: center;
	margin: 0;
	padding: 15%;
}
h2 {
	color: #b5413b;
	font-size: 1.5625rem;
	line-height: 1.4;
	text-transform: uppercase;
}
p {
	line-height: 1.9;
}
a {
	color: #b5413b;
}
a:hover {
	color: #fc3a53;
}
main {
	max-width: 50em;
	padding: 20px;
	margin: auto;
}
nav {
	background-color: rgba(72,58,64, .92);
}
nav ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav li a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
}
nav li a:hover {
	background-color: rgba(0,0,0, .5);
}
.nyc-logo {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 20px;
}
.pull-quote {
	font-family: "Bree Serif", serif;
	border-left: 3px solid #bedd6e;
	padding-left: 1em;
	color: #b5413b;
	font-size: 22px;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}

#nav-checkbox{
	position: absolute;
	left: 50%;
	top: -50px;
}
/* position the burger btn at upper right of page */
.menu-button{ /*postion burger button at upper right of page*/
	position: absolute;
	/* top: 5px; */
	right: 10px;
	padding: 5px;
	/* show menu burger btn only on mobile */
	opacity: 0;
}

/* Media Query for mobile layout */
@media (max-width: 700px) {
	nav {
		position: fixed;
		left: -12em;
		z-index: 5; /*  z-index can only be used with position*/
		width: 12em; /*16px x 12 = 192*/
		height: 100%; /* % is of the parent element */
		overflow-y: auto; /*generate scroll bar if needed*/
		/* instruct the nav to animate if any of its properties change */
		transition: left 0.5s ease;
		
	}
	/* show menu burger btn only on mobile  */
	.menu-button{
		opacity: 1;
		cursor: pointer;
	}

	/* when checked box is checked, target the nav, move nav to left 0; nav has transition set to take 0.5 secondsfor move to complete  */
	#nav-checkbox:checked ~ nav{
		left: 0;
	}

	nav ul{ /*turn off the flex which is making the nav li items horizontal; go back to vertical block stack, which is default*/
		flex-direction: column;
	}

	
}