body {
    font-family: "Abel", sans-serif;
    margin: 0;
    color: #333;
}

.wrapper {
    max-width: 1100px; 
    margin: 0 auto;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img{
    vertical-align: bottom; /* make hipstirred logo sit at botome of header, which removes gap under logo */
}

/* ul{
    list-style-type: none; /* get rid of bullet points*/
   /* margin: 0;
    padding: 0;
    display: flex;  makes ul flex items and removes their display block resulting in the list item side-by-side
} */

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    margin-left: 16px;
}

nav a{
    text-transform: uppercase;
    font-size: 17px;
    color: #555;
    text-decoration: none;

}

.btn {
    background-color: #8842c2;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;

}

h1 {
    font-family: "Rancho", sans-serif;
    font-weight: normal;
    font-size: 95px;
    line-height: 60px;
    margin: 0; /*h1 default margin pushes h1 down*/
    
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* ../ means get out of current folder and go up one folder level */
    background-image: url(../images/hero.jpg);
    /* make background image not tile (aka not repeat) */
    /* background-repeat: no-repeat; */
    background-position: 20% 70%;
    height: 75vh; /* vh = viewport height */
    background-size: cover; 
    /* 'contain' displays full image but leaves gasp
        'cover' fills container w/o distorting the image but will crop along one of the demensions
        '100%' fits 100% of width and 100% of height WILL distort image */
    text-align: center;
    color: #fff;
}

.hero p{
    /* font-family: "Medula One", serif; */
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9d8c8;
    padding: 20px;
    text-align: center;
}

.social{
    margin-left: auto;
    vertical-align: bottom;
}

.copyright{
    flex-grow: 1;
}

.footer image{
    width: 50px;
    margin: 0 5px;
}

.payments {
    width: 50px;
    margin: 0 5px;
}

.social img {
    height: 24px;
    width: 24px;
}


