*, *::before, *::after {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
:root {
	--font-primary: "Abel", sans-serif;
	--font-secondary: "Rancho", sans-serif;
	--text-color-primary: #555;
	--background-color-primary: #fff;
	--background-color-subtle: #e9d8c8;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color-primary: #ddd;
		--background-color-primary: #26150d;
		--background-color-subtle: #4c3125;
} }
body {
	font-family: var(--font-primary);
	font-size: 19px;
	color: var(--text-color-primary);
	background: var(--background-color-primary);
	margin: 0;
}
img, svg {
	max-width: 100%;
	vertical-align: bottom;
}
h1 {
	font-family: var(--font-secondary);
	font-size: 95px;
	line-height: 85px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}
h2 {
	font-size: 28px;
	border-bottom: 1px solid #d17e32;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 10px;
}
p {
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 20px;
}
.wrapper {
	max-width: 1280px;
	margin: auto;
}
.button {
	background-color: #8842c2;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
}
.call-to-action {
	text-align: center;
	margin-bottom: 60px;
}
header {
	padding: 20px;
	display: flex;
	align-items: center;
}
.logo {
	width: 105px;
}
nav {
	margin-left: auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
	margin-left: 10px;
}
nav a {
	color: var(--text-color-primary);
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
}
.hero {
	text-align: center;
	padding: 15%;
	color: #fff;
	background-color: #520;
	background-image: url(../img/hero.jpg);
	background-position: center 75%;
	background-size: cover;
}
@media (prefers-color-scheme: dark) {
	.hero {
		border: 1px solid var(--background-color-subtle);
	}
}
.hero p {
	text-transform: uppercase;
	margin: 0;
}
main {
	max-width: 850px;
	padding: 25px;
	margin: auto;
}
footer {
	background-color: var(--background-color-subtle);
	padding: 20px;
}
footer .wrapper {
	display: flex;
	align-items: center;
}
footer p {
	margin: 0;
	font-size: 15px;
}
.social {
	margin-left: auto;
}
.social a {
	color: #000;
	text-decoration: none;
	margin-left: 10px;
	opacity: .6;
}
@media (prefers-color-scheme: dark) {
	.social a {
		color: #fff;
	}
}
.social svg * {
	fill: currentColor
}