body {
	background: #555;
	margin: 20px;
	font-family: "Open Sans", sans-serif;
	line-height: 1.75;
}
img {
	max-width: 100%;
}
h1, h2, h3 {
	font-family: "Alfa Slab One", "Open Sans", sans-serif;
	font-weight: normal;
	line-height: 1.2;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 60px;
}
h3 {
	font-size: 24px;
}
h3 + p {
	font-weight: 700;
	font-style: italic;
	opacity: .5;
}
a {
	color: #2985d1;
	text-decoration: none;
}
nav {
	text-align: center;
	margin-bottom: 20px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
nav ul a {
	color: #fff;
	font-weight: 800; 
	text-transform: uppercase; 
	padding: 8px;
	display: inline-block;
}
nav ul a:hover,
nav ul a:focus {
	color: #97d0f2;
}
header, main, footer {
	max-width: 800px;
	margin: auto;
}
header {
	background: url(../img/masthead-darkened.jpg) center / cover;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
section {
	background: #fff;
}
footer {
	color: #ccc;
	text-align: center;
	font-weight: 300;
}